* {
    text-align: center;
    background-color: whitesmoke;
    font-size: 16px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 42px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    flex-wrap: wrap;
}

.settings {
    display: flex;
    flex: 1;
    order: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    border: 2.5px gray solid;
    border-radius: 15px;
}

button {
    background-color: lightgray;
    border-radius: 8px;
    border: 2px black solid;
    width: 150px;
    height: 60px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}
button:hover {
    background-color: darkgrey;
}
button:active {
    transform: scale(0.96);
}

input {
    border: transparent;
    width: 100px;
    height: 100px;
}
input:hover{
    cursor: pointer;
}

#container {
    flex: 3;
    order: 2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pixel {
    background-color: white;
}

.footnote {
    bottom: 0;
    width: 100%;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
  
.slider:hover {
    opacity: 1;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb, .slider::-webkit-slider-thumb {
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    background: #04AA6D; 
    cursor: pointer; 
}